<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qd.mapper.ArticleMapper">


    <select id="pageQuery" resultType="com.qd.vo.ArticleVO">
        SELECT
        a.id                AS id,
        a.title             AS title,
        a.slug              AS slug,
        a.summary           AS summary,
        a.cover_url         AS coverUrl,
        a.main_category_name AS mainCategory,
        a.view_count        AS viewCount,
        a.like_count        AS likeCount,
        a.published_at      AS publishedAt
        FROM article a
        <where>
            a.status = 1
            AND a.published_at IS NOT NULL
            <if test="keyword != null and keyword != ''">
                AND (a.title LIKE CONCAT('%', #{keyword}, '%')
                OR  a.summary LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="categoryId != null">
                AND (
                a.main_category_id = #{categoryId}
                OR EXISTS (
                SELECT 1 FROM article_category ac
                WHERE ac.article_id = a.id AND ac.category_id = #{categoryId}
                )
                )
            </if>
            <if test="tagId != null">
                AND EXISTS (
                SELECT 1 FROM article_tag at2
                WHERE at2.article_id = a.id AND at2.tag_id = #{tagId}
                )
            </if>
        </where>
        <choose>
            <when test="'hot'.equals(sort)">
                ORDER BY a.view_count DESC, a.like_count DESC, a.id DESC
            </when>
            <otherwise>
                ORDER BY a.published_at DESC, a.id DESC
            </otherwise>
        </choose>
    </select>




</mapper>
